<div id="map_canvas">map creation failed</div>
<%= javascript_tag do %>
$(function() {
  var buddyMap = new BuddyMap('#map_canvas', <%= raw @buddyMapOpts.to_json %>);
  <% if @user %>
  buddyMap.addListeners();
  <% end %>
});
<% end %>

<% content_for :sidebar_block do %>
<h3>Key</h3>
<p><%= image_tag "http://maps.google.com/mapfiles/ms/micons/green-dot.png", :size => "32x32" %> new bike commuter</p>
<p><%= image_tag "http://maps.google.com/mapfiles/ms/micons/blue-dot.png", :size => "32x32" %> experienced bike commuter</p>
</ul>
</p>
<% end %>
