<div id="map_canvas">map creation failed</div>
<%= javascript_tag do %>
$(function() {
  var buddyMap = new BuddyMap('#map_canvas', <%= raw @buddyMapOpts.to_json %>);
  <% if @user %>
  buddyMap.addListeners();
  <% end %>
});
<% end %>

<% content_for :sidebar_block do %>
<p>Key:<br />
<img src="http://maps.google.com/mapfiles/ms/micons/green-dot.png" /> new bike commuter<br />
<img src="http://maps.google.com/mapfiles/ms/micons/blue-dot.png" /> experienced bike commuter
</ul>
</p>
<% end %>