<h1>Bike Buddy</h1>

<p>This is the Bike Buddy app.</p>

<% if user_signed_in? %>
<% content_for(:sidebar) do %>
<p>User is signed in.</p>
<% end %>
<% else %>
<p>User is not signed in.</p>
<% end %>
