<div id="map_canvas">map creation failed</div>
<%= javascript_tag do %>
$(function() {
  var buddyMap = new BuddyMap('#map_canvas', <%= raw @buddyMapOpts.to_json %>);
  <% if @user %>
  buddyMap.addListeners();
  <% end %>
});
<% end %>
