<h2>Update your profile</h2>

<%= form_for @user, :url => user_profile_path do |f| %>

  <%= render :partial => "user/profile_fields", :locals =>  {:form => f, :user => @user} %>

  <ul class="form-controls">
    <li class="first><%= f.submit "Save changes" %></li>
    <li class="last"><%= link_to "Cancel", :back %></li>
  </ul>
    
<% end %>
