/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */
 
body {padding: 10px;}

/*
 * registration form styles
 */
 
.form-item {margin: 0.5em 0;}
 
.form-item label {display: block; font-size: 120%; font-weight: bold;}
.form-item label.control-label {display: inline; font-size: 100%; font-weight: normal;}
.form-item input {margin-left: 2em; clear: left;}
.form-item .info {margin-left: 2em; font-size: 85%; font-style: italic; }
 
ul.form-controls { list-style-type: none; padding: 0; margin: 1.0em 0; }
ul.form-controls li { display: inline; border-left: solid #d8d8d8 1px; padding-left: 0.5em; margin-left: 0.5em; }
ul.form-controls li.first { border: none; padding-left: 0; margin-left: 0; }

.location-picker-map {
  width: 300px;
  height: 300px;
  border: 1px solid #DDD; 
  margin: 10px 0 10px 0;
  -webkit-box-shadow: #AAA 0px 0px 15px;
}

.location-picker-map img {
	/* http://stackoverflow.com/questions/9141249/twitter-bootstrap-css-affecting-google-maps */
  max-width: none;
}

.sidebar h3 {font-size: 120%; line-height: 120%;}
.about-link {white-space: nowrap;}
.about-link a {font-style: italic; background: #e5e5e5; padding: 1px 4px; border-radius: 5px;}

.supporter-logos {text-align: center;}
.supporter-logos img {margin: 5px; height: 240px; width: 240px;}